@font-face {
    font-family: 'L&C Hairline HQ';
    src: url('LCHairlineHQ.woff2') format('woff2'),
        url('LCHairlineHQ.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

